In [1]:
# importing libraries
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# importing datasets
cyc = pd.read_excel("../data/raw/Checkpoint_count.xlsx")
wthr = pd.read_excel("../data/raw/weather.xlsx", skiprows=2)

In [3]:
# sample checkpoint data
cyc.head(3)

,Date,Time,check_point0,check_point1,check_point2,check_point3,check_point4,check_point5,check_point6,check_point7,check_point8,check_point9,check_point10,check_point11,check_point12,check_point13,check_point14,check_point15,check_point16,check_point17,check_point18,check_point19,check_point20
0,2015-01-01 00:00:00,00:00:00,58,12,4,17,33.0,49,21,16,16,NaN,7,NaN,58,91,24,3,NaN,17,78,21,6
1,2015-02-01 00:00:00,00:00:00,75,7,5,15,30.0,113,27,9,32,NaN,11,NaN,109,177,32,13,NaN,11,57,77,4
2,2015-03-01 00:00:00,00:00:00,79,7,3,7,30.0,107,36,12,18,NaN,2,NaN,71,131,33,5,NaN,14,174,40,5

In [4]:
# sample weather data
wthr.head(3)

,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),Max Temp Flag,Min Temp (°C),Min Temp Flag,Mean Temp (°C),Mean Temp Flag,Heat Deg Days (°C),Heat Deg Days Flag,Cool Deg Days (°C),Cool Deg Days Flag,Total Rain (mm),Total Rain Flag,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,2015-01-01,2015,1,1,‡,-3.0,NaN,-7.6,NaN,-5.3,NaN,23.3,NaN,0.0,NaN,0.0,NaN,1.8,NaN,1.8,NaN,0.0,NaN,22.0,NaN,63,NaN
1,2015-01-02,2015,1,2,‡,-3.4,NaN,-14.2,NaN,-8.8,NaN,26.8,NaN,0.0,NaN,0.0,NaN,0.0,T,0.0,T,1.0,NaN,27.0,NaN,50,NaN
2,2015-01-03,2015,1,3,‡,-8.5,NaN,-17.7,NaN,-13.1,NaN,31.1,NaN,0.0,NaN,0.0,NaN,17.0,NaN,17.0,NaN,1.0,NaN,3.0,NaN,41,NaN

In [5]:
cyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           319 non-null    object
 1   Time           319 non-null    object
 2   check_point0   319 non-null    int64
 3   check_point1   319 non-null    int64
 4   check_point2   319 non-null    int64
 5   check_point3   319 non-null    int64
 6   check_point4   62 non-null     float64
 7   check_point5   319 non-null    int64
 8   check_point6   319 non-null    int64
 9   check_point7   319 non-null    int64
 10  check_point8   319 non-null    int64
 11  check_point9   52 non-null     float64
 12  check_point10  319 non-null    int64
 13  check_point11  209 non-null    float64
 14  check_point12  319 non-null    int64
 15  check_point13  319 non-null    int64
 16  check_point14  319 non-null    int64
 17  check_point15  319 non-null    int64
 18  check_point16  50 non-null     float64
 19  check_point17  319 non-null    int64
 20  check_point18  319 non-null    int64
 21  check_point19  319 non-null    int64
 22  check_point20  319 non-null    int64
dtypes: float64(4), int64(17), object(2)
memory usage: 57.4+ KB

In [6]:
wthr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date/Time                  365 non-null    datetime64[ns]
 1   Year                       365 non-null    int64
 2   Month                      365 non-null    int64
 3   Day                        365 non-null    int64
 4   Data Quality               365 non-null    object
 5   Max Temp (°C)              365 non-null    float64
 6   Max Temp Flag              0 non-null      float64
 7   Min Temp (°C)              365 non-null    float64
 8   Min Temp Flag              1 non-null      object
 9   Mean Temp (°C)             365 non-null    float64
 10  Mean Temp Flag             1 non-null      object
 11  Heat Deg Days (°C)         365 non-null    float64
 12  Heat Deg Days Flag         1 non-null      object
 13  Cool Deg Days (°C)         365 non-null    float64
 14  Cool Deg Days Flag         1 non-null      object
 15  Total Rain (mm)            352 non-null    float64
 16  Total Rain Flag            43 non-null     object
 17  Total Snow (cm)            361 non-null    float64
 18  Total Snow Flag            33 non-null     object
 19  Total Precip (mm)          355 non-null    float64
 20  Total Precip Flag          63 non-null     object
 21  Snow on Grnd (cm)          109 non-null    float64
 22  Snow on Grnd Flag          0 non-null      float64
 23  Dir of Max Gust (10s deg)  283 non-null    float64
 24  Dir of Max Gust Flag       1 non-null      object
 25  Spd of Max Gust (km/h)     364 non-null    object
 26  Spd of Max Gust Flag       1 non-null      object
dtypes: datetime64[ns](1), float64(12), int64(3), object(11)
memory usage: 77.1+ KB

### 1.1 CHANGES to be made to CHECKPOINT_count dataset before merging (includes few data cleaning steps as well):
1. Getting rid of 'Time' column in checkpoint dataset as all values are 00:00:00
2. Converting 'Date' column of object Dtype to a datetime datatype. Before converting, had to fix inconsistencies in the Date Object data. For eg: some values are in datetime.datetime datatype(2015-01-01 00:00:00) and other values are in str(13/01/2015) format.

### 1.2 CHANGES to be made to WEATHER dataset before merging (includes few data cleaning steps as well):
1. Getting rid of 'Data Quality' column as it has only one symbol across all rows and doesn't explain anything.
2. Getting rid of the below columns as they basically have only one non-null value or lesser.
    1. 'Max Temp Flag'
    2. 'Min Temp Flag'
    3. 'Mean Temp Flag'
    4. 'Heat Deg Days Flag'
    5. 'Cool Deg Days Flag'
    6. 'Snow on Grnd Flag'
    7. 'Dir of Max Gust Flag'
    8. 'Spd of Max Gust Flag'
3. Renaming 'Date/Time' column to 'Date' as we'll join both dataframes based on this column.
4. 'Spd of Max Gust (km/h)' is supposed to be a int64Dtype but apparently speed values that are lesser than 31 are capped and row values are filled in the df as '<31', so pandas reads it as object Dtype. So, I am going to get rid of '<' symbol and keep the value 31 as is, and eventually converting the column to int64Dtype. By doing so, we might introduce marginal bias into the dataset and lower the variance of the variable slightly which we don't want, but proceeding to convert the variable into int64Dtype regardless to asses the performance of this column on the target variable and see if it contributes at all in the first place.
5. replacing spaces in variable names with underscores.

# 1.1

In [7]:
# Getting rid of 'Time' column
cyc = cyc.drop('Time', axis=1)

In [8]:
# fixing date values inconsistency and converting to datetime Dtype
dtype1 = type(cyc['Date'][0])

def date_inconsistency_fix(x):
    if type(x) == dtype1:
        return x.strftime('%m/%d/%Y')
    else:
        return x

cyc['Date'] = cyc['Date'].apply(date_inconsistency_fix)
cyc['Date'] = pd.to_datetime(cyc['Date'], format='%d/%m/%Y')

# 1.2

In [9]:
# Getting rid of 'Data Quality' column
wthr = wthr.drop('Data Quality', axis=1)

In [10]:
# Getting rid of the columns that have only one non-null value or lesser.
wthr = wthr.drop(columns=['Max Temp Flag', 'Min Temp Flag', 'Mean Temp Flag', 'Heat Deg Days Flag', 'Cool Deg Days Flag', 'Snow on Grnd Flag', 'Dir of Max Gust Flag', 'Spd of Max Gust Flag'])

In [11]:
# Renaming 'Date/Time' column to 'Date'
wthr = wthr.rename(columns={'Date/Time': 'Date'})

In [12]:
# Fixing inconsistency in 'Spd of Max Gust (km/h)' column and converting to float Dtype
wthr['Spd of Max Gust (km/h)'] = wthr['Spd of Max Gust (km/h)'].astype(str)
wthr['Spd of Max Gust (km/h)'] = wthr['Spd of Max Gust (km/h)'].str.replace('<', '').astype(float)

In [13]:
# replacing spaces in variable names with underscores.
wthr.columns = ['date', 'year', 'month', 'day', 'max_temp_c', 'min_temp_c',
       'mean_temp_c', 'heat_deg_days_c', 'cool_deg_days_c',
       'total_rain_mm', 'total_rain_flag', 'total_snow_cm',
       'total_snow_flag', 'total_precip_mm', 'total_precip_flag',
       'snow_on_grnd_cm', 'dir_of_max_gust_10s_deg',
       'spd_of_max_gust_kmPerhr']

cyc = cyc.rename(columns={'Date': 'date'})

# 2. Joining the two datasets

In [14]:
# left joining wthr to cyc dataset
df = pd.merge(cyc, wthr, on='date', how='left')

In [15]:
# sample of the dataframe post joining
df.tail(3)

,date,check_point0,check_point1,check_point2,check_point3,check_point4,check_point5,check_point6,check_point7,check_point8,check_point9,check_point10,check_point11,check_point12,check_point13,check_point14,check_point15,check_point16,check_point17,check_point18,check_point19,check_point20,year,month,day,max_temp_c,min_temp_c,mean_temp_c,heat_deg_days_c,cool_deg_days_c,total_rain_mm,total_rain_flag,total_snow_cm,total_snow_flag,total_precip_mm,total_precip_flag,snow_on_grnd_cm,dir_of_max_gust_10s_deg,spd_of_max_gust_kmPerhr
316,2015-11-13,1818,906,1711,873,NaN,2115,634,477,1522,1693.0,150,482.0,1416,1980,719,204,2628.0,978,1040,1727,258,2015,11,13,9.4,0.9,5.2,12.8,0.0,NaN,M,0.0,NaN,NaN,M,NaN,24.0,48.0
317,2015-11-14,979,759,978,322,NaN,1112,290,310,601,604.0,98,266.0,1061,1448,269,70,1876.0,640,805,737,73,2015,11,14,4.1,-0.2,2.0,16.0,0.0,0.0,NaN,0.0,T,0.0,T,0.0,26.0,50.0
318,2015-11-15,913,749,1028,348,NaN,1128,303,224,666,663.0,224,380.0,1094,1491,321,64,1913.0,537,804,685,63,2015,11,15,7.5,0.5,4.0,14.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,25.0,39.0

In [16]:
# exporting the processed data
df.to_csv("../data/processed/cyc_wthr_joined.csv", index=0)